.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  padding-bottom: 51px;
}

@media screen and (max-width: 320px) {
  .elements {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    padding: 0 19px 48px;
  }
}
