.profile__name {
  display: flex;
  align-items: baseline;
  color: white;
  margin: 0;
  padding-left: 30px;
  padding-bottom: 10px;
}

@media screen and (max-width: 320px) {
  .profile__name {
    padding: 28px 0 8px 0;
    position: relative;
  }
}
